<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We Are Equal</title>
</head>
<body>
    <!--head-->
    <header>
        <a href="#" class="logo">We Are<br>Equal</a>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#faqs">FAQs</a></li>
        </ul>
        <a href="login.html" class="button log">Log In</a>
    </header>
    <!--home-->
    <div class="container">
        <div class="home">
            <h1>we are EQUAL</h1>
            <p>Share Love in the Diversity</p>
            <a href="newacc.html">Start Now!</a>
        </div>
    </div>
    <!--about-->
    <div class="container">
        <div class="about" id="about">
            <h1>About Us</h1>
            <p>Get to know the developers of <i>We Are Equal</i> !</p>
            <div class="row">
                <div class="column">
                    <a href=""><img src="ldh.jpg" class="devimg"></a>
                    <p>Caroline Avery Tanto</p>
                </div>
                <div class="column">
                    <a href=""><img src="sjk.jpg" class="devimg"></a>
                    <p>Claudia Pilot Melendez</p>
                </div>
                <div class="column">
                    <a href=""><img src="hiy.jpg" class="devimg"></a>
                    <p>Rachel Li</p>
                </div>
            </div>
        </div>
    </div>
    <!--features-->
    <div class="container">
        <div class="features" id="features">
            <h1>Features</h1>
            <p>Learn <i>We Are Equal</i>'s features</p>
        </div>
    </div>
    <!--faqs-->
    <div class="container">
        <div class="faqs" id="faqs">
            <h1>FAQs</h1>
        </div>
    </div>
    <!--footer-->
</body>
</html>