<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We Are Equal</title>

    <!--links-->
    <link rel="stylesheet" href="assets\style\main.css">
</head>
<body>
    <!--head-->
    <header>
        <a href="#" class="logo">We Are<br>Equal.</a>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#faqs">FAQs</a></li>
        </ul>
        <a href="login.html" class="button log">Log In</a>
        <script src="assets\script\main.js"></script>
    </header>
    <!--home-->
    <div class="container">
        <div class="home">
            <h1>we are EQUAL</h1>
            <p>Share Love in Diversity</p>
            <a href="newacc.html" class="button start">Start Now!</a>
        </div>
    </div>
    <!--about-->
    <div class="container">
        <div class="about" id="about">
            <h1>About Us</h1>
            <p>Get to know the developers of <i>We Are Equal</i> !</p>
            <div class="row">
                <div class="column">
                    <a href=""><img src="ldh.jpg" class="devimg"></a>
                    <p>Caroline Avery Tanto</p>
                </div>
                <div class="column">
                    <a href=""><img src="sjk.jpg" class="devimg"></a>
                    <p>Claudia Pilot Melendez</p>
                </div>
                <div class="column">
                    <a href=""><img src="hiy.jpg" class="devimg"></a>
                    <p>Rachel Li</p>
                </div>
            </div>
        </div>
    </div>
    <!--features-->
    <div class="container">
        <div class="features" id="features">
            <h1>Features</h1>
            <p>Learn <i>We Are Equal</i> 's features</p>
            <div class="feat_menu">
                <div class="row1">
                    <div class="col1">
                        <div class="img_box">
                            <img src="files/osis.jpg">
                        </div>
                        <div class="content">
                            <code>SH Student Council | 2019-2021</code>
                        </div>
                    </div>

                    <div class="col1">
                        <div class="img_box">
                            <img src="files/sunschool.jpg">
                        </div>
                        <div class="content">
                            <code>Sunday School Teacher Assistant</code>
                        </div>
                    </div>

                    <div class="col1">
                        <div class="img_box">
                            <img src="files/upacara.jpg">
                        </div>
                        <div class="content">
                            <code>Flag Raiser | 2019</code>
                        </div>
                    </div>

                    <div class="col1">
                        <div class="img_box">
                            <img src="files/mt.jpg">
                        </div>
                        <div class="content">
                            <code>Mechatronics Day | 2019 & 2020</code>
                        </div>
                    </div>

                    <div class="col1">
                        <div class="img_box">
                            <img src="files/htn.jpg">
                        </div>
                        <div class="content">
                            <code>Hack the North | 2021</code>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn">m o r e</button>
        </div>
    </div>
    <!--faqs-->
    <div class="container">
        <div class="faqs" id="faqs">
            <h1>FAQs</h1>
        </div>
    </div>
    <!--footer-->
    <footer class="footer">
        <p>made by cotton coders, &#169; 2021</p>
        <a href="#"><b><u>source code</u></b></a>
        <div class="social">
            <a href="https://github.com/carolinetanto" class="bx bxl-github"></a>
        </div>
    </footer>
</body>
</html>