<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Again!</title>
    
    <!--links-->
    <link rel="stylesheet" href="..\assets\style\lobby.css">
</head>
<body>
    <!--header-->
    <header>
        <a href="#" class="logo">We Are<br>Equal.</a>
        <ul>
            <li><a href="#news">News</a></li>
            <li><a href="#vote">Vote</a></li>
            <li><a href="#share">Share</a></li>
        </ul>
        <script src="..\assets\script\main.js"></script>
    </header>

    <div class="container">
        <div class="home">
            <h1>Welcome back, @keroleiveri!</h1>
        </div>
    </div>
    <div class="container">
        <div class="news" id="news">
            <h1>News</h1>
            <div class="row">
                <div class="clm">
                    <a href="https://www.bbc.com/news/world-us-canada-56218684"><img src="..\files\asian.jpg" class="devimg"></a>
                    <p>Covid 'hate crimes' against Asian Americans on rise</p>
                </div>
                <div class="clm">
                    <a href="https://www.bbc.com/news/newsbeat-53812576"><img src="..\files\blm.jpg" class="devimg"></a>
                    <p>Black Lives Matter in the UK: 'We're still not being heard'</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="vote" id="vote">
            <h1>Vote for Pledge Now!</h1>
            <a href="" class="button vote">vote</a>
        </div>
    </div>
    <div class="container">
        <div class="share" id="share">
            <h1>What is Your Struggle?</h1>
            <p>Share you social injustice struggles/experiences with us</p>
            <form action="lobby.html" class="box">
                <input type="text" name="" placeholder="Your stories...">
                <input type="submit" name="" placeholder="Submit">
            </form>
        </div>
    </div>
</body>
</html>